header.header
    .header__cloum
        a(href=routes.home) 
              
            h1 
                i.fab.fa-youtube
                |#{siteName}
    .header__cloum
        form(action=routes.search method="get")
            input(type="text" placeholder="serch by term..." name="term")  
    .header__cloum
        ul
            if !user.isAutehticated
                li
                    a(href=routes.join) join
                li
                    a(href=routes.login) login
            else 
                
                li
                    a(href=`/videos${routes.upload}`) uplode
                li
                    a(href=routes.userDetail(user.id)) profile
                li
                    a(href=routes.logout) logout
        